<html>
<head>
        <title>{{user.first_name}} | Current User</title>
</head>
<body>
<p>{{ user.first_name }}</p>


<a href="/logout/">Logout</a>
<h4>Ongoing</h4>
<ul>
        {% for test_item in ongoing %}
        <li><a href="/tests/{{test_item}}" >{{test_item}}</a></li>
        {% endfor %}
</ul>
<h4>Upcoming</h4>
<ul>
        {% for test_item in upcoming %}
        <li>{{test_item}}</li>
        {% endfor %}
</ul>
<h4>Completed</h4>
<ul>
        {% for test_title,score,maximum_score in completed_list %}
        <li>{{test_title}} {{score}}/{{maximum_score}}</li>
        {% endfor %}
        {% for test_item in unattended %}
        <li>{{test_item}} absent</li>
        {% endfor %}
</ul>
</body></html>