<!DOCTYPE html>
<html>
<head>
    <style>
        table,th,td{
            border: 1px solid black;
            padding: 15px;
            border-collapse: collapse;
        }

    </style>

</head>
<body>
    <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
    <h3>RollNo: {{user.username}}</h3>
<table>
    <tr>
        <th>Q No</th>
        <th>Question </th>
        <th>Answer</th>
        <th>Remark</th>
        <th>Score</th>
    </tr>
    {% for template_question_no,template_chosen_answer, template_question_text,template_remark,template_score in list_question %}

        <tr>
            <td>{{template_question_no}}</td>
            <td>{{template_question_text}}</td>
            <td>{{template_chosen_answer}}</td>
            <td>{{template_remark}}</td>
            <td>{{template_score}}</td>
        </tr>

    {% endfor %}
</table>
<h4>Score: {{test_score}}/{{max_score}}</h4>

<h4>Percentage:{{percentage }}%</h4>


<a onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.documentElement.outerHTML)" href="#" download="page.html">Download</a>


</body>
</html>